@charset "UTF-8";
html,body,div,span,img,header,nav,a,ul,li,form, label,footer,tr,th,td,
section,article,aside {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;   
}
.container {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}
body{
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header */
#header_wrapper {
    padding: 5px 0 5px;
}
header {
    position:relative;
    display:flex;
}
#logo {
    display:inline-block;
}
#nav {
    display: block;
    position:absolute;
    right:0px;
    top:0px;
    height: 50px;
}
#nav ul li {
    display: list-item;
    list-style: none;
    float:left;
    padding-left:2em;
    line-height: 59.8px;
}
#nav ul li a{
    font-weight: 550;
    text-decoration: none;
    color:black;
    padding: .5em;
    border-radius: 1rem;
    transition: all .3s;
}
#nav ul li a:hover{
    background: rgb(50, 190, 120, 0.6);
    color:white;
    transition: all .3s;
    border-radius: 1.5rem;
}
/* banner */
div[id=loginBar_wrapper] {
    background:rgb(50, 190, 120);
    height: 30px;
}
div[id=loginBar] {
    margin:0 auto;
}
div[id=loginBar] a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    padding-left: 10px;
    line-height: 30px;
    float: right;
}

/* main */

#content_wrapper{
    width: 1280px; margin: 0 auto;
}

/* main_header */
.content_header{
    width: 100%; height: 80px; 
}

.header_label{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    font-size: 30px;
   
}

.content_aside{
    float: left; width: 20%; height: 600px; 
}

/* Table */

.content_section{
    float: left; width: 70%; height: 600px; 
    margin-top: 50px;
}

.table_left{
    padding: 10px;
    padding-right: 0px;
    width: 25%;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    font-size: 15px;
    font-weight: 700;
    vertical-align: middle;
    text-align: right;
    height: 50px;
    
}

.id_label{
    vertical-align: middle;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: rgb(153, 153, 153);
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    width: 40%;
}


.table_right{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nickName_star{
    color: rgb(243, 146, 0);
    font-weight: 700;
    margin-right: 5px;
}

.nickName_re{
    font-size: 12px;
    color: rgb(153, 153, 153);   
}

.table_left_bottom{
    padding: 10px;
    padding-right: 0px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    font-size: 15px;
    font-weight: 700;
    vertical-align: middle;
    text-align: right;
    height: 50px;
}

.table_right_bottom{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* 수정 버튼 구간 */

.buttonDiv{
    text-align: center;
    padding-top: 30px;   
    width: 80%;
}

/* 회원 탈퇴 구간*/

.withdrawDiv{
    width: 85%;
    height: 150px;
   
}



.withdrawDiv_label{
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;    
    border-top-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;    
    border-bottom-width: 1px;
    padding: 15px;
    text-align: right;
    margin-top: 100px;
   
}


/* 오른쪽 공간 */
.content_article{
    float: left; width: 10%; height: 600px;
}

/* 아래 공간 */
.content_footer{
    clear: both; width: 100%; height: 30px;
}
